body {
	background-image: url(http://static.asiawebdirect.com/m/.imaging/1140x760/website/bangkok/portals/vietnam/homepage/hanoi/2days-hanoi/pagePropertiesImage.jpg);
	background-repeat: no-repeat;
}

.red {
	color: red;
}

#mainHeading {
	font-family: sans-serif;
	color: green;
	
}
